<div class="navmargin" ng-include="'partials/nav.html'"></div>
<div class="world-map-cat">
	<div class="container">
	<!-- category title -->
	  <div class="starter-template">
			<h1 class="margin-cat-title">{{ selectedCat[0].$value }}</h1>
	<!-- each story associated to the category, order by highest rated -->
			<div ng-repeat="story in storiesArray | orderBy:'-rating'" class="img-wrap margin-cat-story">
				<p id="{{story.$id}}"> <a class="cat-story-title" href="#/story/{{story.$id}}">{{story.title}}</a></p>
			   <p id="{{story.$id}}"> {{ story.input | limitTo: 150 }}</p>
			 </div>
		</div>
	</div>
</div>