<div ng-include="'partials/nav.html'"></div>

<!-- Create/Choose category modal -->
	<div class="modal fade" id="CategoryModal">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title">Choose or Create Category</h4>
	      </div>
	      <div id="modal-body" class="modal-body">
	      <input type="text" id="category" ng-model="categoryTitle" class="form-control" placeholder="Add category title">
	      <button type="button" class="btn btn-primary" ng-click="Categories()" data-dimiss="modal">Submit</button>
	      <!-- <button type="button" class="btn btn-primary" ng-click="sendChosenCategory()" data-dimiss="modal">Submit chosen</button> -->
	      <select ng-model="selectedCategory" ng-options="category.title for category in allCategories">
	      	
	      </select>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

<h1> Hello, write your story</h1>
<div>
	<input type="text" id="story" ng-model="storyInput" class="form-control" placeholder="Add your story">
	<button ng-show="userLoggedIn()" ng-click="Stories()">Submit</button>
	<p ng-show="!userLoggedIn()">Log in to write stories</p>
</div>	