<div class= "navmargin" ng-include="'partials/nav.html'"></div>
  <div class="row">

<div ng-show="!userLoggedIn()">
  <img id="home-image" src="../images/girlportrait-edited.jpg">
</div>
<div ng-show="!userLoggedIn()" id="explaining-div">First-hand News:  knausgaard selvage kale chips green juice disrupt asymmetrical kickstarter yr. Bitters hella XOXO, 90's YOLO quinoa gastropub craft beer keytar bespoke farm-to-table squid fashion axe cornhole. 
<br>Meditation forage kinfolk, offal lomo twee pour-over taxidermy celiac single-origin coffee selvage cliche squid butcher. Sartorial leggings beforamps meditation disrupt. Everyday carry next level f </div>

<div id="wrap" class="fix-it" ng-show="!userLoggedIn()"> 
  <h3>Top Stories</h3>
  <span ng-repeat="story in storyRef | orderBy:'-rating' | limitTo:5">
    <span id="{{story.$id}}" class="top5-story"><a class="story-padding" href="#/story/{{story.$id}}">{{story.title}}</a></span>
</div>
<div class="container center-cat">

  <div ng-show="!userLoggedIn()" class="starter-template">
        <div ng-repeat="category in allCategories">
          <div class="img-wrap col-md-3 categories" id="{{category.$id}}">
            <h1 class="font-cat" id="{{category.$id}}"><a class="categories-color" href="#/category/{{category.$id}}">{{category.title}}</a></h1>
          </div>
        </div>

	 </div>

</div> 
