<!-- Navigation -->
	<!-- <nav class="navbar navbar-default">
		<div class="row">
			<div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand">First-hand</a>
		    </div>
        	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      			<ul class="nav navbar-nav">
	              <li><a  id="home">Home</a></li>
	              <li><a  id="profile">Share your experience</a></li>
            </ul>
          </div> 
      	</div>
	</nav>

<div class="wrapper">
<button type="button" id="btn-xl" class="btn btn-primary" ng-click="auth.$authWithOAuthPopup('facebook')">Login With Facebook</button>
</div>

<div ng-repeat="category in allCategories">
 <div class="img-wrap col-md-3" id="{{category.$id}}">
 	<h1 id="{{category.$id}}"><a href="#/category/{{category.$id}}">{{category.title}}</a></h1>
 </div>
</div> -->