<div class="navmargin" ng-include="'partials/nav.html'"></div>

<div class="container">

  <div class="starter-template">
<!-- Title and image of story -->
		<h4> Return to <a href="#/category/{{storiesArray[1].$value}}">{{storiesArray[0].$value}}</a></h4>

<!-- disabled voting if voted is true -->
		<span class="title-story">{{ storiesArray[9].$value}}</span>
			<span ng-disabled="voted">
				<button ng-click="incrementVote()" type="button" class="btn btn-default btn-sm">
		      <span class="glyphicon glyphicon-heart heart"></span> 
				  <span class="count">{{RateRef.$value}}</span>
		    </button>
			</span>
		<p class="content-size">{{ storiesArray[4].$value }} </p>
		<!-- <div ng-show="storiesArray[2].$value.length"> -->
		<img src="{{storiesArray[10][0]}}">

		<!-- hide author & image if marked as anonymous -->
		<p ng-hide="Anonymous" class="content-size"> Author : <a href="#/user/{{theId}}"> {{ storiesArray[6].$value }}</a> </p>
		
		<p ng-show="Anonymous" class="content-size"> Author: Anonymous </p>
		<!-- <img ng-hide="Anonymous" src="{{storiesArray[7].$value}}"> -->


	</div>
</div>

