<div class="navmargin" ng-include="'partials/nav.html'"></div>

<div class="container">

  <div class="starter-template">
<!-- Title and image of story -->
		<h4> Return to <a href="#/category/{{storiesArray[1].$value}}">{{storiesArray[0].$value}}</a></h4>

<!-- disabled voting if voted is true -->
		<span class="title-story">{{ storiesArray[9].$value}}</span>
			<span ng-disabled="voted">
				<button ng-click="incrementVote()" type="button" class="btn btn-default btn-sm">
		      <span class="glyphicon glyphicon-heart heart"></span> 
				  <span class="count">{{RateRef.$value}}</span>
		    </button>
			</span>

			<div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            You can only vote once.
        </div>

      <div class="alert-it alert-success alert-dismissable">
            You must be logged in to vote.
        </div>
		<!-- hide author & image if marked as anonymous -->
		<p ng-hide="Anonymous" class="content-size"> Author : <a href="#/user/{{storiesArray[2].$value}}"> {{ storiesArray[6].$value }}</a> </p>
		
		<p ng-show="Anonymous" class="content-size"> Author: Anonymous </p>
		<!-- <img ng-hide="Anonymous" src="{{storiesArray[7].$value}}"> -->
		<p class="content-size">{{ storiesArray[4].$value }} </p>
		<!-- <div ng-show="storiesArray[2].$value.length"> -->
		<img ng-show="storiesArray[10][0]" class="max-height"src="{{storiesArray[10][0]}}">
		<img ng-show="storiesArray[10][1]" class = "max-height" src="{{storiesArray[10][1]}}">
		<img ng-show="storiesArray[10][2]" class="max-height" src="{{storiesArray[10][2]}}">



	</div>
</div>

