<div ng-include="'partials/nav.html'"></div>

  <div class="style-profile-top">
		<h1>Hello, {{refUserArray[0].$value}}</h1>
		<image class="img-circle" src="{{refUserArray[1].$value}}"></image>
	</div>
<div class="container">

  <div class="starter-template">
		<p ng-show="signedIn">Your anonymous stories are only shown to you.</p>
		<div ng-repeat="story in yourStoriesArray" ng-show="signedIn" class="img-wrap col-md-5 styling-yours" >
			<h2><a href="#/story/{{story.$id}}">{{story.title}}</a></h2>

			<p id="{{story.$id}}">{{ story.input | limitTo: 150 }} <a href="#/story/{{story.$id}}">Read More</a> </p>
			<button type="button" class="btn btn-secondary btn-md" ng-show="canYouDelete()" ng-click="yourStoriesArray.$remove(story)">Delete</button>
		 </div>

		<div ng-repeat="story in yourStoriesArray | filter: !anonymous" class="img-wrap" ng-hide="signedIn">
			<h2><a href="#/story/{{story.$id}}">{{story.title}}</a></h2>
			<p id="{{story.$id}}">{{ story.input }}</p>
			<button ng-show="canYouDelete()" ng-click="yourStoriesArray.$remove(story)">Delete</button>
		</div>

	</div>
</div>