<div ng-include="'partials/nav.html'"></div>

<div class="container">

  <div class="starter-template">
		<div class="wrapper">
		    <div class="box">
			    <div class="row">
			          <!-- main -->
			      <div class="column col-sm-9" id="main">
			        <div class="padding">
			          <div class="full col-sm-9">
			                    
			                      <!-- content -->
			                      
			            <div class="col-sm-15" id="featured">   
			              <div class="page-header text-muted">
			                {{refUserArray[0].$value}} : Stories

			              </div> 

		                <div align="center">
		                	 <a href="#" class="pull-right"><img src="{{refUserArray[1].$value}}" class="img-circle"></a>
		                </div>
		            	</div>



                        <!-- <div ng-repeat="story in yourStoriesArray" ng-show="signedIn" class="img-wrap col-md-5 styling-yours" >
			<h2><a href="#/story/{{story.$id}}">{{story.title}}</a></h2>

			<p id="{{story.$id}}">{{ story.input | limitTo: 150 }} <a href="#/story/{{story.$id}}">Read More</a> </p>
			<button type="button" class="btn btn-secondary btn-md" ng-show="canYouDelete()" ng-click="yourStoriesArray.$remove(story)">Delete</button> -->
                        
                        <!--/top story-->
                <div class="row">    
                  <div class="col-sm-10" ng-repeat="story in yourStoriesArray" ng-show="signedIn">
                    <h3><a href="#/story/{{story.$id}}">{{story.title}}</a></h3>
                    
                    <small class="text-muted" id="{{story.$id}}">{{ story.input | limitTo: 150 }} <a class="text-muted" href="#/story/{{story.$id}}"> Read More</a></small>
                    <button type="button" class="btn btn-secondary btn-md" ng-show="canYouDelete()" ng-click="yourStoriesArray.$remove(story)">Delete</button>
                    </h4>
                  </div>

                 <div class="col-sm-10" ng-repeat="story in yourStoriesArray | filter: !anonymous" ng-hide="signedIn">
                    <h3><a href="#/story/{{story.$id}}">{{story.title}}</a></h3>

                    <small class="text-muted" id="{{story.$id}}">{{ story.input | limitTo: 150 }} <a class="text-muted" href="#/story/{{story.$id}}"> Read More</a></small>
                    </h4>
                  </div>
                        
                        <!--/stories-->
                       
                          <!-- <div class="col-sm-2">
                            <a href="#" class="pull-right"><img src="http://api.randomuser.me/portraits/thumb/men/86.jpg" class="img-circle"></a>
                          </div> --> 
                        </div>
                        
                        <div class="row divider">    
                           <div class="col-sm-12"><hr></div>
                        </div>
                 
                          <div class="col-sm-6">
                            <p>
                            <a href="#" class="pull-right">©Copyright Inc.</a>
                            </p>
                          </div>
                        </div>
                      
                    </div><!-- /col-9 -->
                </div><!-- /padding -->
            </div>
            <!-- /main -->
        </div>
    </div>
</div>



<!--  -->

  <!-- <div class="style-profile-top">
		<h1>Hello, {{refUserArray[0].$value}}</h1>
		<image class="img-circle" src="{{refUserArray[1].$value}}"></image>
	</div>
<div class="container">

  <div class="starter-template">
		<p ng-show="signedIn">Your anonymous stories are only shown to you.</p>
		<div ng-repeat="story in yourStoriesArray" ng-show="signedIn" class="img-wrap col-md-5 styling-yours" >
			<h2><a href="#/story/{{story.$id}}">{{story.title}}</a></h2>

			<p id="{{story.$id}}">{{ story.input | limitTo: 150 }} <a href="#/story/{{story.$id}}">Read More</a> </p>
			<button type="button" class="btn btn-secondary btn-md" ng-show="canYouDelete()" ng-click="yourStoriesArray.$remove(story)">Delete</button>
		 </div>

		<div ng-repeat="story in yourStoriesArray | filter: !anonymous" class="img-wrap" ng-hide="signedIn">
			<h2><a href="#/story/{{story.$id}}">{{story.title}}</a></h2>
			<p id="{{story.$id}}">{{ story.input }}</p>
			<button ng-show="canYouDelete()" ng-click="yourStoriesArray.$remove(story)">Delete</button>
		</div>

	</div>
</div> -->