body {
	background-color: white;
}
/*
a{
	color: #191919;
	background-color: #FFF056 ;
}*/

.banksy{
	display: inline-block;
	float: right;
}

.top5-story{
	background-color: white;
	font-size: 1.3em;
}

.navbar {
	background-color: #FFF056;
}
/*Home View*/
#home-image {
	/*background-image: url(../images/girlportrait.jpg);*/
 	/*background-size: 100%;*/
 	/*background-repeat: no-repeat;*/
 	/*height: 500px;*/
 	width: 100%;
 	margin: 0;
}

.center-cat{
	margin: auto;
}

.fix-it{
	width: 80%;
	text-align: center;
	margin: auto;
}

.categories-color{
	color: #191919;
	background-color: #FFF056 ;
}

.story-padding{
	padding: 25px;
	color: #191919;
	/*background-color: #FFF056;
	margin: 30px;*/
}

#explaining-div{
	background-color: #191919;
	color: white;
	font-size: 2.3em;
	width: 100%;
	text-align: center;
}

.wrapper-nav{
	margin-top: 50px;
}

.navbar {
	margin-bottom: 500px;
}

.font-cat {
	font-family: Verdana;
}



.img-wrap {
	border-bottom: thin black solid;
}


.categories {
	width: 340px;
	height: 250px;
	background: #fefefe;
	border: 2px solid #fcfcfc;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 10px;
	padding: 15px;
	padding-bottom: 10px;
	transition: opacity .4s ease-in-out;
}
	
#title {
	width: 50%;
	margin-bottom: 30px;
	margin-top: 15px;
}

/*Profil page*/
.styling-yours{
	margin: 5px;
	padding: 15px;
}

.style-profile-top {
	background-image: url(../images/oldmap.png);
	height: 300px;
}

.page-header{
	font-size: 2em;
}


/*For categories drop down in modal*/
.dropdown.dropdown-scroll .dropdown-menu {
    max-height: 200px;
    width: 400px;
    overflow: auto;
}
.search-control {
    padding: 5px 10px;
}

.search-spacing {
	margin-bottom: 30px;
}