.img-wrap {
	border-bottom: thin black solid;
}

#listFive {
	border: black thin solid;
	float: right;
}


#title {
	width: 50%;
	margin-bottom: 30px;
	margin-top: 15px;
}

.styling-yours{
	margin: 5px;
	padding: 15px;
}

.style-profile-top {
	background-image: url(../images/oldmap.png);
	height: 300px;
}

/*#home-image {
	background-image: url(https://images.unsplash.com/photo-1429729274510-0ca5300305d3?crop=entropy&fit=crop&fm=jpg&h=750&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375);
}


h1 { font-family: 'Metrophobic', Arial, serif; font-weight: 500; }*/

/*home page pinterest view*/

body {
  font-family: Calluna, Arial, sans-serif;
  min-height: 1000px;
  background-color:#fefefe;
}
#columns {
	-webkit-column-width: 320px;
	-webkit-column-gap: 15px;
  	width: 90%;
	max-width: 1100px;
	margin: 50px auto;
}

span#columns figure {
	background: #fefefe;
	border: 2px solid #fcfcfc;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	padding: 15px;
	padding-bottom: 10px;
	transition: opacity .4s ease-in-out;
  display: inline-block;
  -webkit-column-break-inside: avoid;
}

span#columns figure img {
	width: 100%; height: auto;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

span#columns figure figcaption {
  font-size: .9rem;
	color: #444;
  line-height: 1.5;
}

span#columns small { 
  font-size: 1rem;
  float: right; 
  text-transform: uppercase;
  color: #aaa;
} 


@media screen and (max-width: 750px) { 
  #columns { column-gap: 0px; }
  #columns figure { width: 100%; }
}


/*experimenting with profile page*/

/* move special fonts to HTML head for better performance */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700');


/* custom template */
html, body {
   height: 100%;
   font-family:'Open Sans',arial,sans-serif;
}

a {
  color:#222222;
}

.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

.column {
    height: 100%;
    overflow: auto;
    *zoom:1;
}

.column .padding {
    padding: 20px;
}

.divider {
	margin-top:32px;
}

#main .img-circle {
  margin-top:18px;
  height:70px;
  width:70px;
}

#footer {
  margin-bottom:20px;
}

/* center and adjust the sidebar contents on smaller devices */
@media (max-width: 768px) {
  #sidebar,#sidebar a.logo {
    text-align:center;
    margin:0 auto;
    margin-top:30px;
    font-size:26px;
  }
  #sidebar a.logo {
    font-size:50px;
    height:75px;
    width:75px;
    margin-bottom:30px;
  }
}




/* bootstrap overrides */

h1,h2,h3 {
   font-weight:800;
   font-family:'Open Sans',arial,sans-serif;
}

.jumbotron {
  background-color:transparent;
}

.page-header {
  margin-top: 55px;
  padding-top: 9px;
  border-top:1px solid #eeeeee;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing:2px;
}

.col-sm-9.full {
    width: 100%;
}

small.text-muted {
  font-family:courier,courier-new,monospace;
}

